h1{
    font-size: 5em;
    color: black;
    font-family: 'Indie Flower', sans-serif;
    text-shadow: 5px 5px 10px grey;
    text-decoration: underline darkslategrey
}

h2{
    font-size: 3em;
    color: black;
    font-family: 'Indie Flower', sans-serif;
    text-shadow: 5px 5px 10px grey;
}

.BGshade{
    background-color: lightyellow;
padding: 5px;
margin: 5px;
}

.brown{
    color: brown;
    font-size: 2em;
    font-family: 'Indie Flower', sans-serif;
}

.grey{
    color: grey;
    font-size: 2em;
    font-family: 'Indie Flower', sans-serif;
}

.orangered{
    color: orangered;
    font-size: 2em;
    font-family: 'Indie Flower', sans-serif;
}

.space {
    margin: 100px;
}

.boxtab {
    background-color: lightgrey;
    border-bottom: 0px black solid;
    width: 300px;
    height: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px 15px 0px 0px;
    margin: 20px;
    font-size: 2em;
    font-family: 'Indie Flower', sans-serif;
    font-weight: bold;
    transition-property: border-bottom;
    transition-duration: 250ms;
    transition-timing-function: linear;
}

.menu {
    display: inline;
}

.boxtab:hover {
    border-bottom: 10px orangered solid;
}